# backend
DATABASE_URL="mysql://mysql:password@mysql:3306/ecommerce_dev"
REDIS_URL="redis://redis:6379"
JWT_ACCESS_SECRET="changeme_access_secret"
JWT_REFRESH_SECRET="changeme_refresh_secret"
ACCESS_TOKEN_EXP="15m"
REFRESH_TOKEN_EXP="7d"
NODE_ENV=development
PORT=4000
FRONTEND_URL="http://localhost:3000"
MAIL_HOST=mailhog
MAIL_PORT=1025
MAIL_FROM="no-reply@nextgenbusiness.co.in"

# frontend
NEXT_PUBLIC_API_URL="http://localhost:4000"
NEXT_PUBLIC_STRIPE_KEY=""
